@using ThyRealmBeyond.Common
@model ThyRealmBeyond.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Добре дошли! На оня свят...";
    this.ViewData["SubTitle"] = "Ролева игра от Емил Христов";
}

@foreach (var blogPost in Model.BlogPosts)
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <h2 class="post-title"><a href="@blogPost.Url">@blogPost.Title</a></h2>
                    <h3 class="post-subtitle">
                        @blogPost.PreviewContent
                    </h3>
                    <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> @blogPost.CreatedOn </span></li>
                    </ul>
                    <p class="post-meta">Posted by @GlobalConstants.BlogPostAuthor</p>
                    <p><a class="btn btn-info" href="@blogPost.Url"><i class="fa fa-plus"></i> Read More</a></p>
                </div>
                <hr>
            </div>
        </div>
    </div>
}